<div class="map-map-render leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" data-map-render="" tabindex="0" style="position: relative;">
    <div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(0px, -116px, 0px);">
        <div class="leaflet-pane leaflet-tile-pane">
            <div class="leaflet-layer " style="z-index: 1; opacity: 1;">
                <div class="leaflet-tile-container leaflet-zoom-animated" style="z-index: 20; transform: translate3d(0px, 0px, 0px) scale(0.757858);">
                    <img alt="" src="" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(546px, 381px, 0px); opacity: 1;">
                    <img alt="" src="" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(1570px, 893px, 0px); opacity: 1;">
                </div>
            </div>
        </div>
        <div class="leaflet-pane leaflet-overlay-pane">
            <svg pointer-events="none" class="leaflet-zoom-animated" width="1435" height="636" viewBox="-120 63 1435 636" style="transform: translate3d(-120px, 63px, 0px);">
                <g>
                    <path class="leaflet-interactive" stroke="#3388ff" stroke-opacity="1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="#3388ff" fill-opacity="0.2" fill-rule="evenodd" d="M844,708a10,10 0 1,0 20,0 a10,10 0 1,0 -20,0 "></path>
                    <path class="leaflet-interactive" stroke="#005EB8" stroke-opacity="1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" d="M850 699L798 567L779 416L706 283L591 214L450 157L351 63"></path>
                </g>
            </svg>
        </div>
        <div class="leaflet-pane leaflet-shadow-pane"></div>
        <div class="leaflet-pane leaflet-marker-pane"></div>
        <div class="leaflet-pane leaflet-tooltip-pane"></div>
        <div class="leaflet-pane leaflet-popup-pane">
            <div class="leaflet-popup  leaflet-zoom-animated" style="opacity: 1; transform: translate3d(598px, 290px, 0px); bottom: -7px; left: -127px;">
                <div class="leaflet-popup-content-wrapper">
                    <div class="leaflet-popup-content" style="width: 253px;">
                        <pre>{
  "date_at": "2022-09-30 15:44:36",
  "latitude": 42.85719,
  "longitude": -8.56281,
  "speed": "118.16",
  "signal": 1
}</pre>
                    </div>
                </div>
                <div class="leaflet-popup-tip-container">
                    <div class="leaflet-popup-tip"></div>
                </div>
                <a class="leaflet-popup-close-button" role="button" aria-label="Close popup" href="#close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
        </div>
        <div class="leaflet-proxy leaflet-zoom-animated" style="transform: translate3d(6.0582e+06px, 4.68256e+06px, 0px) scale(24833.5);"></div>
    </div>
    <div class="leaflet-control-container">
        <div class="leaflet-top leaflet-left">
            <div class="leaflet-control-zoom leaflet-bar leaflet-control">
                <a class="leaflet-control-zoom-in" href="#" title="Zoom in" role="button" aria-label="Zoom in" aria-disabled="false">
                    <span aria-hidden="true">+</span>
                </a>
                <a class="leaflet-control-zoom-out" href="#" title="Zoom out" role="button" aria-label="Zoom out" aria-disabled="false">
                    <span aria-hidden="true">−</span>
                </a>
            </div>
        </div>
        <div class="leaflet-top leaflet-right">
            <div class="leaflet-control-layers leaflet-control leaflet-control-layers-expanded" aria-haspopup="true">
                <a class="leaflet-control-layers-toggle" href="#" title="Layers" role="button"></a>
                <section class="leaflet-control-layers-list">
                    <div class="leaflet-control-layers-base">
                        <label>
                            <span>
                                <input type="radio" class="leaflet-control-layers-selector" name="leaflet-base-layers_26" checked="checked">
                                <span> OpenStreetMap</span>
                            </span>
                        </label>
                        <label>
                            <span>
                                <input type="radio" class="leaflet-control-layers-selector" name="leaflet-base-layers_26">
                                <span> GoogleStreets</span>
                            </span>
                        </label>
                        <label>
                            <span>
                                <input type="radio" class="leaflet-control-layers-selector" name="leaflet-base-layers_26">
                                <span> GoogleSatellite</span>
                            </span>
                        </label>
                    </div>
                    <div class="leaflet-control-layers-separator" style="display: none;"></div>
                    <div class="leaflet-control-layers-overlays"></div>
                </section>
            </div>
        </div>
        <div class="leaflet-bottom leaflet-left"></div>
        <div class="leaflet-bottom leaflet-right"></div>
    </div>
</div>
<app-map class="map map-list-hidden" data-map="" data-map-id="330" data-map-positions="[]" data-map-alarms="[]" data-map-notifications="[]" data-map-positions-url="" data-map-show-last="true">
    <div class="map-map " data-map-map="">
        <div class="map-map-render leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" data-map-render="" tabindex="0" style="position: relative;">
            <div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(-417.974px, 217.986px, 0px);">
                <div class="leaflet-pane leaflet-tile-pane">
                    <div class="leaflet-layer " style="z-index: 1; opacity: 1;">
                        <div class="leaflet-tile-container leaflet-zoom-animated" style="z-index: 22; transform: translate3d(0px, 0px, 0px) scale(1);">
                            <img alt="" src="" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(767px, 174px, 0px); opacity: 1;">
                        </div>
                    </div>
                </div>
                <div class="leaflet-pane leaflet-overlay-pane">
                    <canvas class="leaflet-zoom-animated" width="1856" height="577" style="transform: translate3d(263px, -266px, 0px); width: 1856px; height: 577px;"></canvas>
                </div>
                <div class="leaflet-pane leaflet-shadow-pane"></div>
                <div class="leaflet-pane leaflet-marker-pane">
                    <img src="" class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive" alt="Marker" tabindex="0" role="button" style="margin-left: -6px; margin-top: -6px; width: 12px; height: 12px; opacity: 0.7; transform: translate3d(715px, 320px, 0px) rotateZ(213deg); z-index: 320; transform-origin: center center;">
                    <img src="" class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive" alt="Marker" tabindex="0" role="button" style="margin-left: -15px; margin-top: -42px; width: 30px; height: 42px; transform: translate3d(774px, 241px, 0px); z-index: 241;">
                </div>
                <div class="leaflet-pane leaflet-tooltip-pane"></div>
                <div class="leaflet-pane leaflet-popup-pane">
                    <div class="leaflet-popup  leaflet-zoom-animated" style="opacity: 1; transform: translate3d(822px, 62px, 0px); bottom: -7px; left: -113px;">
                        <div class="leaflet-popup-content-wrapper">
                            <div class="leaflet-popup-content" style="width: 180px;">
                                <p style="margin: 0.5em 0 !important">
                                    <strong>Id:</strong>
                                </p>
                                <p style="margin: 0.5em 0 !important">
                                    <strong>Date:</strong>
                                </p>
                                <p style="margin: 0.5em 0 !important">
                                    <strong>Latitude:</strong>
                                </p>
                            </div>
                        </div>
                        <div class="leaflet-popup-tip-container">
                            <div class="leaflet-popup-tip"></div>
                        </div>
                        <a class="leaflet-popup-close-button" role="button" aria-label="Close popup" href="#close">
                            <span aria-hidden="true">×</span>
                        </a>
                    </div>
                </div>
                <div class="leaflet-proxy leaflet-zoom-animated" style="transform: translate3d(1.60429e+07px, 1.24161e+07px, 0px) scale(65536);"></div>
            </div>
            <div class="leaflet-control-container">
                <div class="leaflet-top leaflet-left">
                    <div class="leaflet-control-zoom leaflet-bar leaflet-control">
                        <a class="leaflet-control-zoom-in" href="#" title="Zoom in" role="button" aria-label="Zoom in" aria-disabled="false">
                            <span aria-hidden="true">+</span>
                        </a>
                        <a class="leaflet-control-zoom-out" href="#" title="Zoom out" role="button" aria-label="Zoom out" aria-disabled="false">
                            <span aria-hidden="true">−</span>
                        </a>
                    </div>
                </div>
                <div class="leaflet-top leaflet-right">
                    <div class="leaflet-control-layers leaflet-control" aria-haspopup="true">
                        <a class="leaflet-control-layers-toggle" href="#" title="Layers" role="button"></a>
                        <section class="leaflet-control-layers-list">
                            <div class="leaflet-control-layers-base">
                                <label>
                                    <span>
                                        <input type="radio" class="leaflet-control-layers-selector" name="leaflet-base-layers_26">
                                        <span> OpenStreetMap</span>
                                    </span>
                                </label>
                                <label>
                                    <span>
                                        <input type="radio" class="leaflet-control-layers-selector" name="leaflet-base-layers_26">
                                        <span> GoogleStreets</span>
                                    </span>
                                </label>
                                <label>
                                    <span>
                                        <input type="radio" class="leaflet-control-layers-selector" name="leaflet-base-layers_26">
                                        <span> GoogleSatellite</span>
                                    </span>
                                </label>
                            </div>
                            <div class="leaflet-control-layers-separator" style="display: none;"></div>
                            <div class="leaflet-control-layers-overlays"></div>
                        </section>
                    </div>
                </div>
                <div class="leaflet-bottom leaflet-left"></div>
                <div class="leaflet-bottom leaflet-right"></div>
            </div>
        </div>
    </div>
    <div class="map-list box px-5 py-2" data-map-list="">
        <div class="flex items-center text-center">
            <div class="flex-1 mx-2 py-1 px-2 rounded-full border font-medium text-slate-600" data-map-list-distance="">2,34 km</div>
            <div class="flex-1 mx-2 py-1 px-2 rounded-full border font-medium text-slate-600" data-map-list-time="">00:45:18</div>
            <a href="#" class="flex-1 mx-2 py-1 px-2 rounded-full border font-medium text-slate-600 map-list-toggle" data-map-list-toggle=""> ⟻ </a>
        </div>
        <table class="table table-report font-medium text-center whitespace-nowrap text-xs" data-table-sort="" data-table-sort-loaded="true">
            <thead>
                <tr>
                    <th class="w-1">Fecha</th>
                    <th class="w-1">Coordenadas</th>
                    <th class="w-1">Velocidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="w-1">
                        <a href="#" data-map-point=""></a>
                    </td>
                    <td class="w-1">
                        <a href="" rel="nofollow noopener noreferrer" target="_blank"></a>
                    </td>
                    <td class="w-1"></td>
                </tr>
            </tbody>
        </table>
    </div>
</app-map>
