<div class="litepicker" data-plugins="" style="display: block; position: absolute; z-index: 9999; top: 83px; left: 581.578px;">
    <div class="container__main">
        <div class="container__months">
            <div class="month-item">
                <div class="month-item-header"><button type="button" class="button-previous-month"><svg width="11" height="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.919 0l2.748 2.667L5.333 8l5.334 5.333L7.919 16 0 8z" fill-rule="nonzero"></path>
                        </svg></button>
                    <div><select class="month-item-name">
                            <option value="0" disabled="">enero</option>
                            <option value="8">septiembre</option>
                        </select><select class="month-item-year">
                            <option value="2022">2022</option>
                            <option value="2021" disabled="">2021</option>
                        </select></div><button type="button" class="button-next-month"><svg width="11" height="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.748 16L0 13.333 5.333 8 0 2.667 2.748 0l7.919 8z" fill-rule="nonzero"></path>
                        </svg></button>
                </div>
                <div class="month-item-weekdays-row">
                    <div title="lunes">lun</div>
                </div>
                <div class="container__days">
                    <div></div>
                    <div class="day-item" data-time="1664575200000" tabindex="0">1</div>
                    <div class="day-item is-start-date is-end-date" data-time="1666389600000" tabindex="0">22</div>
                    <div class="day-item" data-time="1667170800000" tabindex="0">31</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container__tooltip"></div>
</div>
