<div class="mobile-menu md:hidden">
    <div class="mobile-menu-bar">
        <a href="https://tracker.lito.com.es" class="logo active">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 700 700">
                <path></path>
            </svg>
        </a>

        <h1 class="flex-1 px-4 truncate"></h1>

        <a href="javascript:;" id="mobile-menu-toggler">
            <svg class="feather w-8 h-8 text-white">
                <use xlink:href="https://tracker.lito.com.es/build/images/feather-sprite.svg?v1664838914#menu"></use>
            </svg>
        </a>
    </div>

    <ul class="border-t hidden" style="display: block;">
        <li>
            <a href="https://tracker.lito.com.es" class="menu menu--active">
                <div class="menu__icon">
                    <svg class="feather ">
                        <use xlink:href="https://tracker.lito.com.es/build/images/feather-sprite.svg?v1664838914#home"></use>
                    </svg>
                </div>

                <div class="menu__title"></div>
            </a>
        </li>

        <li>
            <a href="javascript:;" class="menu ">
                <div class="menu__icon">
                    <svg class="feather ">
                        <use xlink:href="https://tracker.lito.com.es/build/images/feather-sprite.svg?v1664838914#map"></use>
                    </svg>
                </div>

                <div class="menu__title">
                    <div class="menu__sub-icon ">
                        <svg class="feather ">
                            <use xlink:href="https://tracker.lito.com.es/build/images/feather-sprite.svg?v1664838914#chevron-down"></use>
                        </svg>
                    </div>
                </div>
            </a>

            <ul class="menu__sub-open">
                <li>
                    <a href="https://tracker.lito.com.es/trip" class="menu menu--active">
                        <div class="menu__icon">
                            <svg class="feather ">
                                <use xlink:href="https://tracker.lito.com.es/build/images/feather-sprite.svg?v1664838914#list"></use>
                            </svg>
                        </div>
                        <div class="menu__title"></div>
                    </a>
                </li>

                <li>
                    <a href="https://tracker.lito.com.es/trip/search" class="menu ">
                        <div class="menu__icon">
                            <svg class="feather ">
                                <use xlink:href="https://tracker.lito.com.es/build/images/feather-sprite.svg?v1664838914#search"></use>
                            </svg>
                        </div>
                        <div class="menu__title"></div>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="https://tracker.lito.com.es/profile" class="menu ">
                <div class="menu__icon">
                    <svg class="feather ">
                        <use xlink:href="https://tracker.lito.com.es/build/images/feather-sprite.svg?v1664838914#user"></use>
                    </svg>
                </div>
                <div class="menu__title"></div>
            </a>
        </li>

        <li>
            <a href="https://tracker.lito.com.es/user/logout" class="menu">
                <div class="menu__icon">
                    <svg class="feather ">
                        <use xlink:href="https://tracker.lito.com.es/build/images/feather-sprite.svg?v1664838914#toggle-right"></use>
                    </svg>
                </div>
                <div class="menu__title"></div>
            </a>
        </li>
    </ul>
</div>
