<div id="delete-modal" class="modal overflow-y-auto show" tabindex="-1" aria-hidden="false" style="margin-top: 0px; margin-left: 0px; padding-left: 0px; z-index: 53;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-0">
                <form action="" method="post">
                    <input type="hidden" name="_action" value="delete">

                    <div class="p-5 text-center">
                        <svg class="feather w-16 h-16 text-theme-24 mx-auto mt-3"><use xlink:href="https://tracker.local.lan/build/images/feather-sprite.svg?v1654547016#x-circle"></use></svg>
                        <div class="text-3xl mt-5">Confirmación de Borrado</div>
                        <div class="text-gray-600 mt-2">Estás seguro de querer borrar este contenido?<br>Esta acción no se puede deshacer</div>
                    </div>

                    <div class="px-5 pb-8 text-center">
                        <button type="button" data-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancelar</button>
                        <button type="submit" class="btn btn-danger w-24">Borrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
