includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/

    level: 5

    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable#'
        - '#Access to an undefined property object::#'
        - '#Access to an undefined property .*Abstract#'
        - '#Access to an undefined property .*\\Model#'
        - '#App\\Domains\\User\\Model\\User.* does not accept Illuminate\\Contracts\\Auth\\Authenticatable#'
        - '#Call to an undefined .*Abstract#'
        - '#expects App\\Domains\\Shared\\Model\\ModelAbstract\|null, Illuminate\\Contracts\\Auth\\Authenticatable\|null given#'
        - '#of parent class Illuminate\\Database\\Eloquent\\Builder#'
        - '#Property App\\Domains\\.* does not accept Illuminate\\Database\\Eloquent#'
        - '#returns .*Abstract.#'
        - '#should return App\\Domains\\.*\\Model.* but returns Illuminate\\Database\\Eloquent\\Model#'
        - '#should return App\\Domains\\.*\\Model\\Collection\\.* but returns Illuminate\\Database\\Eloquent\\Collection#'
        - '#\\Domains.*\\Model\\.*Illuminate\\Database\\Eloquent\\Model given#'
        - '#Unsafe usage of new static#'
