<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="true">

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>

    <testsuites>
        <testsuite name="Feature">
            <directory suffix=".php">./app/Domains/Alarm/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/AlarmNotification/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/City/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/Configuration/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/Country/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/Dashboard/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/Device/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/DeviceMessage/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/IpLock/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/Language/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/Position/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/Profile/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/Refuel/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/Server/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/State/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/Timezone/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/Trip/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/User/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/UserSession/Test/Feature</directory>
            <directory suffix=".php">./app/Domains/Vehicle/Test/Feature</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="APP_DEBUG" value="0" />
        <server name="APP_ENV" value="testing" />
        <server name="APP_LOCALE" value="es" />
        <server name="AUTH_CHECK_ALLOWED" value="3" />
        <server name="BCRYPT_ROUNDS" value="4" />
        <server name="CACHE_DRIVER" value="array" />
        <server name="DB_CONNECTION" value="test" />
        <server name="DEBUGBAR_ENABLED" value="0" />
        <server name="MAIL_DRIVER" value="array" />
        <server name="QUEUE_CONNECTION" value="sync" />
        <server name="SESSION_DRIVER" value="array" />
    </php>
</phpunit>
