.leaflet-container:focus,
.leaflet-container:focus-visible {
    outline: none;
}

.map {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 84vh;

    .map-map {
        flex-grow: 1;
        width: 75%;
        height: 100%;
        transition: width 0.3s linear;

        &.w-full {
            width: 100%;
        }
    }

    .map-map-render {
        height: 100%;
    }

    .map-list {
        width: 25%;
        height: 100%;
        overflow: auto;
        transition: width 0.3s linear;
        position: relative;

        table {
            width: 100%;

            thead {
                > tr {
                    > th {
                        padding: 0.25rem;
                    }
                }
            }

            tbody {
                > tr {
                    &.selected {
                        background-color: #a3ea9a;

                        > td {
                            background: none;
                        }
                    }

                    > td {
                        padding: 0.25rem;
                    }
                }
            }
        }
    }

    &.map-list-hidden {
        .map-map {
            width: 97%;
        }

        .map-list {
            width: 3%;
            overflow: hidden;

            .map-list-toggle {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                margin: 0;
                border: 0;
                background: white;
                border-radius: 0;
                padding-top: 1rem;
            }
        }
    }

    @media (max-width: 768px) {
        display: block;
        height: auto;

        .map-map {
            width: 100% !important;
            height: 70vh;
        }

        .map-list {
            width: 100% !important;
            overflow: auto !important;
            height: 70vh;
        }

        .map-list-toggle {
            display: none;
        }
    }
}

.map-fence, .map-polygon {
    width: 100%;
    height: 85vh;
}
